/* ------------------------------------------------------------
Author: Sonia Hashim
Date  : 02/19/15
Notes : css (with BOOTSTRAP) for ol.factory home page 
---------------------------------------------------------------*/