/* ------------------------------------------------------------
Author: Sonia Hashim
Date  : 02/19/15
Notes : css (with BOOTSTRAP) for ol.factory home page 
---------------------------------------------------------------*/
body {
	background-image: url("subtle-pattern-2.jpg");
}

a {
	color: #afd9a8;
	text-shadow: 1px 1px 0px #fff; 
}

p {
	color: #5c5f72;

}

img {
	border: ridge #faf282;
	border-width: 0px 8px 8px 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}


#header a {
	margin-top: 5px;
}

	h1 {
		color: #DB6552;
		text-shadow: 2px 2px 0px #fff, 4px 4px 0px #5c5f72;
	}

		.btn-default {
			font-weight: bold; 
			background: #DB8D88;
			color: rgba(0,0,0,0.6);
    		text-shadow: 1px 1px 2px rgba(255,255,255,0.1);
		}

		.btn-success {
			color: #EEE;
			background-image: -webkit-linear-gradient(bottom,#76d588 0,#afd9a8 100%);
			border-color:#49C46F;
			border-radius: 20px;

			font-weight: 400;
		}

		#navigation li {
			display: inline;
		}

	h2 {
		color: #000;
		text-shadow: 2px 2px 0px #5c5f72;
	}

	.content-flag {
		margin-left: 20px;
		padding-left: 15px;
		padding-bottom: 15px;
		margin-bottom: 10px;
		border-width: 0px 0px 0px 10px;
		-webkit-border-image: 
      	-webkit-linear-gradient(#f05329, #f7931d) 1 90%;
	}

	.content-flag-lh {
		padding-bottom: 15px;
		margin-bottom: 10px;
		padding-right: 15px;
		border-width: 0px 10px 0px 0px;
		-webkit-border-image: 
      	-webkit-linear-gradient(#f05329, #f7931d) 1 90%;
		text-align: right;
	}

	.text-danger {
		color: #DB6552;
		text-shadow: 1px 1px 0px #fff; 
	}

	h3 {
		padding: 5px;
		background-color: #666666;
	    -webkit-background-clip: text;
	    -moz-background-clip: text;
	    background-clip: text;
	    color: transparent;
	    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	    text-align: center;

	    text-decoration: underline #afd9a8;
	}

		.table-striped td {
			padding-left: 4px;
			color: #999;
		}

		.table-striped>tbody>tr:nth-of-type(odd) {
			background-color: #afd9a8;
		}


	.btn-primary {
		font-weight: bold; 
		background: #DB6552;
		border-color: #AD5041;
		color: rgba(0,0,0,0.6);
		text-shadow: 1px 1px 2px rgba(255,255,255,0.1);

		border-radius: 20px;
	}

	.table-hover td {
		padding: 5px;
		background-color: #666666;
	    -webkit-background-clip: text;
	    -moz-background-clip: text;
	    background-clip: text;
	    color: transparent;
	    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	    text-align: right;
	}
	}


